{% include "tracks/base.html" %}
{% include "tracks/navbar.html" %}

<div class="container-fluid">
    {% include "tracks/steps_progress.html" %}
    <form action="/tracks/view-genome-browser/" method="post" class="uniForm">
        {% csrf_token %}
        <table class="table table-sm w-auto">
            <thead>
                <tr>
                    <th class="border-0"></th>
                    <th class="border-0">Cell Types</th>
                </tr>
                <tr>
                    <th class="border-0"></th>
                    {% for celltype in celltypes %}
                    <th class="bg-light border">
                        <div class="text-center">
                            {{  celltype.name }}
                        </div>
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="border-0">TFs</th>
                </tr>
                {% for tfname in tfnames %}
                <tr>
                    <th class="bg-light border">{{ tfname.name }}</th>
                    {% for celltype in celltypes %}
                        <td class="border">
                            <div class="text-center">
                                <input type="checkbox" name="track_str" value="{{ tfname.name }},{{ celltype.name }}" checked>
                            </div>
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    <input class="btn btn-primary" type="submit" value="View Genome Browser">
    </form>
</div>
