{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<div class="container-fluid" >
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item" aria-current="page">Top Data</li>
          <li class="breadcrumb-item active" aria-current="page">Transcription Factors</li>
      </ol>
    </nav>

    <form action="/tracks/select-cell-type/" method="post" class="uniForm">
        {% csrf_token %}

        <div class="form-group">
            {{ form.as_p }}
        </div>

        <input class="btn btn-primary" type="submit" value="Continue">
    </form>

</div>
