hub TOPhub_{{ hub_id }}
shortLabel TF occupancy predictions
longLabel TF occupancy predictions for TFs across cell types using DNase data
genomesFile genomes.txt
email kaixuan.luo@duke.edu
descriptionUrl http://www.genome.duke.edu
